$text_color:#373f50;
$border_color: #F3F5F9; 

.cartprocesses{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;

   


    &_title{
        text-align: left;
        width: 100%;
        padding-left: 1rem;
        margin-top: 2rem;
       

        h3{
            border-bottom: 1px solid #e3e9ef;
            padding-bottom: 1rem;
            width: 93%;
            font-size: 1rem;
            color:$text_color;
        }
    }

    &_btns{
        width: 100%;

        &_btns{
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;


            >:nth-child(1){
                width: 45%;
                background-color: $border_color;
                border: 1px solid $border_color;
                height: 3rem;
                border-radius: 0.5rem;
                margin: 1rem;
               


            }

           

            >:nth-child(2){
                width: 45%;
                font-weight: 600;
                height: 3rem;
                margin-bottom: 1rem;
                
            }
        }
    }


   
}