

.shopCard{
    display: flex;

    &_display{
        width: 86%;
        margin-left: 16.9%;
    }
}

@media only screen and (max-width:564px) {
    .shopCard{
        flex-direction: column-reverse;


        &_display{
            width: 100%;
            margin-left: 0;
        }
    }
}