$border_color: #e3e9ef;
$text_color: #373f50;
$price_color: rgba(78, 84, 200, 1);

.cart_summary_two_three{

    
    display: flex;
 
    align-items: center;

    margin-top: 1.5rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid $border_color;

    &_img{
        width: 20%;

        img{

            width: 100%;
        }
    }


    &_details{
        padding-left: 1rem;
        line-height: 0rem;
        >:nth-child(1){
            color: $text_color;
            font-size: 1rem;
            font-weight: 700;
           
        }
        >:nth-child(2){
            display: flex;

            >:nth-child(2){
                padding-left: 0.5rem;
                color: $price_color;
            }

        }
    }
}