

.cart_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    text-align: left;
    width: 45%;
    line-height: 2rem;


    &_input{
        width: 90%;


        input{
            width: 100%;
            height: 2rem;
        }
    }

}

