$text_color:#373f50;

.cart_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    text-align: left;
    width: 45%;
    line-height: 2rem;
    height: fit-content;



   

    &_input{
        width: 90%;


        input, select{
            width: 100%;
            border-radius: 0.5rem;
            height: 2.5rem;
            border: 2px solid #e3e9ef;
        }


        label{
            color: $text_color;
            font-weight: 600;
        }
    }

    .select{
       
        select{
            width: 47% !important;
        }

        >:nth-child(4){
            margin-left: 1rem;
        }
            
    }

}

