


.step{
    background-color: #ccc;
    color: black;
    font-size: 12px;
    text-align: center;
    // padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-weight: 700;
    border-radius: 50%;


    p{
        position: absolute;
        top: 30px;
       font-weight: 300;
        color: #ccc;
    }
    &.completed{
        background-color: #fff;
        color: #000;

        p{
            color: #fff;
            font-size: 15px;
            font-weight: 300;
        }
    }



   
}
